.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  margin-block: 0;
  margin-inline: auto;
  max-inline-size: 100%;
  min-block-size: 100vh;
  padding-block: 0;
  padding-inline: 16px;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.title span {
  background-clip: text;
  background-image: linear-gradient(to right, #3b82f6, #ef4444);
  color: transparent;
  display: inline-block;
}

.description {
  color: #9ca3af;
  font-weight: 500;
}

.description a {
  color: #3b82f6;
  text-decoration: none;
}

.description a:hover {
  text-decoration: underline;
}
